html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 300;
}

.form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
