html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 300;
}

button {
  background-color: #f5e960;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #000; /* Border width and color */
  border-radius: 10px;
  cursor: pointer;
  /* width: 20%; */
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Landing Page Styling*/
.landing-page-container {
  padding: 200px;
  background-color: #4daa57;
  min-height: 100vh;
}

.landing-page-tagline {
  font-size: 80px;
  font-weight: 800;
  color: #fface4;
  -webkit-text-stroke: 1px #000; /* text outline border */
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .form {
    padding: 10px;
  }

  .landing-page-container {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 50px;
  }

  .landing-page-tagline {
    font-size: 60px; /* Adjust font size for smaller screens */
  }
}

/* Sign Up Form*/

.signup-container {
  background-color: #fface4;
}

.signup-title {
  color: #4daa57;
  font-weight: 800;
  font-size: 50px;
  -webkit-text-stroke: 1px #000;
  margin-bottom: 30px;
}

.form {
  max-width: 400px;
  font-size: 15px;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: 500;
  padding: 100px 40px;
  border-radius: 8px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  outline: none;
}

.input-field {
  margin: 20px 0px;
}

.signup-button {
  background-color: #f5e960;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-weight: 600;
}
