html,
body,
h1,
h2,
h3,
p,
div,
etc. {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 300;
}

/* Colors
Light pink: #fface4
Dark pink: #ff6ed0
Dark Green: #4daa57
Light green: #edffec
Yellow: f5e960
*/

.global-button {
  background-color: #fface4;
  /* color: black; */
  padding: 14px 20px;
  margin: 8px 0;
  /* border: 1px solid #000; */
  border-radius: 10px;
  cursor: pointer;
  border: none;
  /* width: 20%; */
  /* opacity: 0.9; */
}

.circular-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #464655;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 1;
}

.site-header {
  background-color: #edffec;
  font-weight: 500;
}

.site-name {
  padding-left: 8vh;
  padding-top: 5vh;
}

@media only screen and (max-width: 600px) {
  .site-name {
    text-align: center;
    margin: 0;
    padding-left: 0vh;
  }
}

/* Landing Page Styling*/
.landing-page-container {
  padding: 200px;
  background-color: #edffec;
  min-height: 100vh;
}

.landing-page-tagline {
  font-size: 60px;
  font-weight: 800;
  color: #4daa57;
  /* -webkit-text-stroke: 1px #000;*/
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .form {
    padding: 10px;
  }

  .landing-page-container {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 50px;
  }

  .landing-page-tagline {
    font-size: 60px; /* Adjust font size for smaller screens */
  }
}

/* Sign Up Form*/

.sign-container {
  background-color: #edffec;
}

.sign-title {
  color: #4daa57;
  font-weight: 800;
  font-size: 50px;
  /* -webkit-text-stroke: 1px #000; */
  margin-bottom: 30px;
}

.sign-button {
  background-color: #f5e960;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-weight: 600;
}

.sign-form {
  max-width: 400px;
  font-size: 15px;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: 500;
  padding: 100px 40px;
  border-radius: 8px;
}

.sign-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  outline: none;
}

.sign-input-field {
  margin: 20px 0px;
}

/* Home Page */

.home-container {
  background-color: #edffec;
  min-height: 100vh;
}

.home-title {
  color: #ff6ed0;
  font-size: 40px;
  margin-top: 10vh;
  margin-bottom: 20px;
}

.top-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin-bottom: 120px;
  /* margin: 64px 0px; */
}

.url-input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding: 2px;
  /* background-color: transparent; */
  border: 1px solid #000;
  /* border-bottom: 1px solid #000; */
  margin-bottom: 20px;
}

.audio-title {
  font-size: 15px;
}

/* Styles for the audio element */
audio::-webkit-media-controls-panel {
  background-color: pink;
}

audio::-webkit-media-controls-play-button {
  background-color: #b1d4e0;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177, 212, 224, 0.7);
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #b1d4e0;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}
